<strong>Olá, {{deliveryman}}</strong>
<p>A encomenda abaixo foi CANCELADA!!!</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br/>
  <strong>Produto: </strong> {{ product }} <br/>
  <br />
  <small>
    Dados da Entrega: <br />
    <strong>Endereço:</strong> {{address}},<br />
    <strong>Complemento:</strong> {{complement}}<br />
    <strong>{{state}} - {{city}}</strong> <br />
    <strong>Cep:</strong> {{zipcode}}
  </small>
</p>
